.auth {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(32, 59, 64, 1) 15%, rgba(203,243,110,1) 85%);
}

.auth__container {
  box-sizing: border-box;
  padding: 40px 50px;
  background-color: rgba(80, 108, 112, 0.8);
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__title {
  margin: 0;
  text-align: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth__input {
  background: rgba(32, 59, 64, 0.8);
  border: 2px solid transparent;
  color: #E7F3F3;
  box-sizing: border-box;
  padding: 12px 24px;
  width: 350px;
  transition: 0.3s;
  border-radius: 10px;
}

.auth__input:hover {
  background-color: rgba(45, 83, 90, 0.8);
}

.auth__input:focus {
  outline: none;
  border: 2px solid #CBF36E;
  background: rgba(32, 59, 64, 0.8);
}

.auth__button {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: #CBF36E;
  color: #2d535a;
  box-sizing: border-box;
  padding: 12px 24px;
  border-radius: 10px;
  transition: 0.3s;
}

.auth__button:hover {
  background-color: #738a3f;
  color: #E7F3F3;
}

.auth__text {
  text-align: center;
  font-size: 12px;
}

.auth__link {
  background: none;
  border: none;
  padding: 0;
  color: #CBF36E;
  cursor: pointer;
  transition: 0.2s;
}

.auth__link:hover {
  color: #738a3f;
}
