.favorite-guides {

}

.favorite-guides__title {
  margin: 0;
  box-sizing: border-box;
  padding: 40px 0;
  font-size: 50px;
  font-weight: 600;
}

.favorite-guides__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  box-sizing: border-box;
  padding: 0 0 30px 0;
}
