.main {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 12%;
}

.main__text {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.main__subtitle {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  box-sizing: border-box;
  padding-bottom: 24px;
}

.main__title {
  margin: 0;
  font-size: 52px;
  font-weight: 500;
  box-sizing: border-box;
  padding-bottom: 48px;
}

.main__button {
  width: fit-content;
  text-decoration: none;
  color: #E7F3F3;
  background-color: #203B40;
  box-sizing: border-box;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.3s;
}

.main__button:hover {
  background-color: #2d535a;
}

.main__guides {
  width: 75%;
  display: flex;
  gap: 20px;
}
