.guides {
  width: 100%;
}

.guides__buttons {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 40px 0;
}

.guides__filter {
  max-height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #203B40;
  border: 2px solid transparent;
  color: #E7F3F3;
  border-radius: 25px;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.guides__filter_active {
  border: 2px solid #CBF36E;
}

.guides__filter:hover {
  background-color: #2d535a;
}

.guides__filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.guides__filter-container_active {
  visibility: visible;
  opacity: 1;
}

.guides__filter-button {
  font-size: 12px;
  background-color: #203B40;
  color: #E7F3F3;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.guides__filter-button_active {
  border: 2px solid #CBF36E;
}

.guides__filter-button:hover {
  background-color: #2d535a;
}

.guides__search {
  max-height: 80px;
  background: url("../../images/search.svg") no-repeat 15px center #203B40;
  border: 2px solid transparent;
  color: #E7F3F3;
  box-sizing: border-box;
  padding: 12px 10px 12px 55px;
  width: 100%;
  max-width: 450px;
  border-radius: 25px;
  transition: 0.3s;
}

.guides__search:hover {
  background-color: #2d535a;
}

.guides__search::placeholder {
  color: #E7F3F3;
}

.guides__search:focus {
  outline: none;
  border: 2px solid #CBF36E;
  background: url("../../images/search.svg") no-repeat 15px center #203B40;
}

.guides__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  box-sizing: border-box;
  padding: 0 0 30px 0;
}
